# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\pcegi\Desktop\BaseConverter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
